body {
    background-color: whitesmoke;
    font-family: "Century Gothic", sans-serif;
    margin: 0px;
}

table {
    margin: auto;
    text-align: center;
    h1:
}

.container {

}

.header {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background-color: maroon;
    border-bottom: darkslategrey 1px solid;
    text-align: center;
    clear: left;
}

.nav {
    display: inline;
    font-size: 18px;
}

li.nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: whitesmoke;
}

li.nav a:hover {
    background-color: #555;
}

.sign-out-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  color: whitesmoke;
}

input.sign-out-btn:hover[type="submit"] {
    background-color: #555;
}

.bills {
    margin: auto;
}

.footer {
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 0;
    padding: 1rem;
    border-top: darkslategrey 1px solid;
}