body {
    background-color: whitesmoke;
    font-family: "Century Gothic", sans-serif;
    margin: 0px;
}

table {
    margin: auto;
    text-align: center;
    h1:
}

.container {

}

.header {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background-color: maroon;
    border-bottom: darkslategrey 1px solid;
    text-align: center;
    clear: left;
}

.bills {
    margin: auto;
}

.footer {
    position: absolute;
    right: 5px;
    left: 5px;
    bottom: 0;
    padding: 1rem;
    border-top: darkslategrey 1px solid;
}