<!DOCTYPE html>
<html lang="en">
<link href="../static/css/main.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
</head>
<body>
    <div class="header">
        <ul style="margin: 0; padding: 0; list-style-type: none; overflow: hidden;">
            <li class="nav" style="float: left"><a href="index.html">Home</a></li>
            <li class="nav" style="float: left"><a href="bill.html">Bills</a></li>
            <li class="nav" style="margin-top: 10px; display: inline-block; color: #FB6648">BILL</li>
            <li class="nav" style="float: right">
                <form action="{{ url_for('index') }}" method="post">
                    <input type="submit" value="Sign Out" class="sign-out-btn">
                </form>
            </li>
        </ul>
    </div>

    <div class="bills">
        <h1>Bills</h1>
        <table>
            <tr>
                {% if edit == False %}
                    <th>Bill #</th>
                {% endif %}
                <th>Date</th>
                {% for value in config %}
                    <th>{{ value }}</th>
                {% endfor %}
                <th>Total</th>
                <th>Due Date</th>
                {% if edit == False %}
                    <th>Paid</th>
                {% endif %}
            </tr>
            {% for bill in bills %}
                <tr>
                    {% for data in bill %}
                        <td>{{ data }}</td>
                    {% endfor %}
                    {% if edit == False %}
                        <td>
                            <form method="post">
                                <input type="submit" value="Pay"
                                    onclick="window.open('https://www.paypal.com/myaccount/transfer/homepage/send/preview')"
                                    name="{{ bill[0] }}"/>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    </div>
    {% if edit == True %}
        <div style="width: 305px; margin: auto">
            <form method="post">
                {% for value in config %}
                    <input type="text" name="{{ value }}" placeholder="{{ value }}"><br />
                {% endfor %}
                    <input type="date" name="due_date" placeholder="yyyy-mm-dd" minlength="10" maxlength="10">

                <button type="submit">Add</button>
            </form>
        </div>
    {% endif %}
</body>
</html>
