<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Bill Account</title>
</head>
<body>
    <div style="width: 305px; margin: auto">
        <form method="post">
            <input type="text" name="account_name" placeholder="Account Name">*<br />
            <input type="text" name="bill_1" placeholder="Bill Name 1">*<br />
            <input type="text" name="bill_2" placeholder="Bill Name 2"><br />
            <input type="text" name="bill_3" placeholder="Bill Name 3"><br />
            <input type="text" name="bill_4" placeholder="Bill Name 4"><br />
            <input type="text" name="bill_5" placeholder="Bill Name 5"><br />
            <input type="submit" value="Create Bill Account">
        </form>
    </div>
</body>
</html>