<!DOCTYPE html>
<html lang="en">
<link href="../static/css/main.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
 <div class="header">
        <ul style="margin: 0; padding: 0; list-style-type: none; overflow: hidden;">
            <li class="nav" style="float: left"><a href="index.html">Home</a></li>
            <li class="nav" style="float: left"><a href="bill.html">Bills</a></li>
            <li class="nav" style="margin-top: 10px; display: inline-block; color: #FB6648">HOME</li>
            <li class="nav" style="float: right">
                <form action="{{ url_for('index') }}" method="post">
                    <input type="submit" value="Sign Out" class="sign-out-btn">
                </form>
            </li>
        </ul>
    </div>
    <div>
        <h1>Hello</h1>
    </div>

    {% if user_type == 1 %}
    <div>
        <table>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            {% for user_info in page_info %}
                <tr>
                    {% for info in user_info %}
                        <td>{{ info }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>